<html>

<head>
    <title>Assignment 4</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>

<body>
    <form action="/assignment4" method="post" name="">
        <input type="text" placeholder="name">
        <input type="text" placeholder="password">
        <input type="text" placeholder="email">
        <input type="submit" value="Insert">
    </form>

    <form action="/assignment4" method="put" name="update">
        <input type="text" placeholder="name">
        <input type="text" placeholder="password">
        <input type="text" placeholder="email">
        <input type="submit" value="Update">
    </form>

    <form action="/assignment4" method="delete" name="delete">
        <input type="number" name="id" placeholder="user id">
        <input type="text" name="email" placeholder="user email">
        <input type="submit" value="Delete">
    </form>

    <form action="/assignment4" method="list" name="list">
        <ul>
            {% for user in users %}
            <li>
                <div>id: {{ user.id }}</div>
                <div>name: {{ user.name }} | email: {{ user.email }}</div>
            </li>
            {% endfor %}
            <input type="submit" value="List">
    </form>
</body>

</html>